{% extends "base.html" %}
{% import "macros.html" as macro %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block title %}
    {{ super() }}
    Hello
{% endblock %}

{% block content %}
    {% if user_ip %}
        {{ super() }}
        <p>Hello World, I'm using a flask template {{ user_ip }}</p> 

        {% for to_do in to_dos %}
            {{macro.render_text(to_do)}}
        {% endfor %}

    {% else %}
        <a href = "{{ url_for('index') }}"> Go to index </a>
    {% endif %}

    <div class="container">
        <!--<form action="{{ url_for('hello')}}" method="POST">-->
            <!--{{ login_form.username }}-->
            <!--{{ login_form.username.label }}-->
        <!--</form>-->
        {{ wtf.quick_form(login_form) }}
    </div>

{% endblock %}